<body id="about">
<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/makproductions06">MattTaylor.</a> A Full Stack Developer hacking his way up the tech latter.
  </p>
  <br />





  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'profileimg.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="name text-center">Matt Taylor</h2>
    <hr>
    <p>
      Matt Taylor is a Full Stack Web Developer based out of the gig city(Chattanooga, TN). His favorite languages is HTML, CSS, JAVASCRIPT, RUBY and SWIFT. If you're in the area and want to meet up for some pair programing, hackathons or chit-chat, don't hesitate to contact Matt on his twitter @FSDevNinja.
    </p>
  </div>
  <br class="clear" />



<br class="clear" />
<br />
<br />
<br />
<br />
</body>
