
@font-face {
    font-family: 'bungeehairline';
    src: url('bungee-hairline-webfont.woff2') format('woff2'),
         url('bungee-hairline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bungeeinline';
    src: url('bungee-inline-webfont.woff2') format('woff2'),
         url('bungee-inline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bungeeoutline';
    src: url('bungee-outline-webfont.woff2') format('woff2'),
         url('bungee-outline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bungee_regularregular';
    src: url('bungee-regular-webfont.woff2') format('woff2'),
         url('bungee-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bungeeshade';
    src: url('bungee-shade-webfont.woff2') format('woff2'),
         url('bungee-shade-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bungee_layersinline';
    src: url('bungeelayers-inline-webfont.woff2') format('woff2'),
         url('bungeelayers-inline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bungee_layersoutline';
    src: url('bungeelayers-outline-webfont.woff2') format('woff2'),
         url('bungeelayers-outline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bungee_layers_regularregular';
    src: url('bungeelayers-regular-webfont.woff2') format('woff2'),
         url('bungeelayers-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bungee_layersshade';
    src: url('bungeelayers-shade-webfont.woff2') format('woff2'),
         url('bungeelayers-shade-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
